body{
    background: url("../images/login_2.jpg");
    animation-name:myfirst;
    animation-duration:30s;
    /*变换时间*/
    animation-delay:0s;
    /*动画开始时间*/
    animation-iteration-count:infinite;
    /*下一周期循环播放*/
    animation-play-state:running;
    /*动画开始运行*/
}
@keyframes myfirst
{
    0%   {background:url("../images/login_1.jpg");}
    40%  {background:url("../images/login_2.jpg");}
    60%  {background:url("../images/login_3.jpg");}
    80% {background:url("../images/login_4.jpg");}
    100% {background:url("../images/login_1.jpg");}
}
.form{background: rgba(245,245,245,0.6);width:400px;margin:220px auto;}
/*阴影*/
.fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}
input[type="text"],input[type="password"]{padding-left:26px;}
.checkbox{padding-left:21px;}