<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renting.dao.TbBillMapper">
  <resultMap id="BaseResultMap" type="com.renting.entity.TbBill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="biticketnum" jdbcType="VARCHAR" property="biticketnum" />
    <result column="tenid" jdbcType="INTEGER" property="tenid" />
    <result column="bitate" jdbcType="VARCHAR" property="bitate" />
    <result column="updatetime" jdbcType="VARCHAR" property="updatetime" />
    <result column="aduser" jdbcType="VARCHAR" property="aduser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, biticketnum, tenid, bitate, updatetime, aduser
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_bill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.renting.entity.TbBill">
    insert into tb_bill (id, biticketnum, tenid, 
      bitate, updatetime, aduser
      )
    values (#{id,jdbcType=INTEGER}, #{biticketnum,jdbcType=VARCHAR}, #{tenid,jdbcType=INTEGER}, 
      #{bitate,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, #{aduser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.renting.entity.TbBill">
    insert into tb_bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="biticketnum != null">
        biticketnum,
      </if>
      <if test="tenid != null">
        tenid,
      </if>
      <if test="bitate != null">
        bitate,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="aduser != null">
        aduser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="biticketnum != null">
        #{biticketnum,jdbcType=VARCHAR},
      </if>
      <if test="tenid != null">
        #{tenid,jdbcType=INTEGER},
      </if>
      <if test="bitate != null">
        #{bitate,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="aduser != null">
        #{aduser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renting.entity.TbBill">
    update tb_bill
    <set>
      <if test="biticketnum != null">
        biticketnum = #{biticketnum,jdbcType=VARCHAR},
      </if>
      <if test="tenid != null">
        tenid = #{tenid,jdbcType=INTEGER},
      </if>
      <if test="bitate != null">
        bitate = #{bitate,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="aduser != null">
        aduser = #{aduser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renting.entity.TbBill">
    update tb_bill
    set biticketnum = #{biticketnum,jdbcType=VARCHAR},
      tenid = #{tenid,jdbcType=INTEGER},
      bitate = #{bitate,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR},
      aduser = #{aduser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>