<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renting.dao.TbDepositMapper">
  <resultMap id="BaseResultMap" type="com.renting.entity.TbDeposit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roid" jdbcType="INTEGER" property="roid" />
    <result column="biticketnum" jdbcType="VARCHAR" property="biticketnum" />
    <result column="bicashpledges" jdbcType="VARCHAR" property="bicashpledges" />
    <result column="bipaymenttime" jdbcType="VARCHAR" property="bipaymenttime" />
    <result column="bicashpledge" jdbcType="VARCHAR" property="bicashpledge" />
    <result column="bitate" jdbcType="VARCHAR" property="bitate" />
    <result column="updatetime" jdbcType="VARCHAR" property="updatetime" />
    <result column="aduser" jdbcType="VARCHAR" property="aduser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, roid, biticketnum, bicashpledges, bipaymenttime, bicashpledge, bitate, updatetime, 
    aduser
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_deposit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_deposit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.renting.entity.TbDeposit">
    insert into tb_deposit (id, roid, biticketnum, 
      bicashpledges, bipaymenttime, bicashpledge, 
      bitate, updatetime, aduser
      )
    values (#{id,jdbcType=INTEGER}, #{roid,jdbcType=INTEGER}, #{biticketnum,jdbcType=VARCHAR}, 
      #{bicashpledges,jdbcType=VARCHAR}, #{bipaymenttime,jdbcType=VARCHAR}, #{bicashpledge,jdbcType=VARCHAR}, 
      #{bitate,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, #{aduser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.renting.entity.TbDeposit">
    insert into tb_deposit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roid != null">
        roid,
      </if>
      <if test="biticketnum != null">
        biticketnum,
      </if>
      <if test="bicashpledges != null">
        bicashpledges,
      </if>
      <if test="bipaymenttime != null">
        bipaymenttime,
      </if>
      <if test="bicashpledge != null">
        bicashpledge,
      </if>
      <if test="bitate != null">
        bitate,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="aduser != null">
        aduser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roid != null">
        #{roid,jdbcType=INTEGER},
      </if>
      <if test="biticketnum != null">
        #{biticketnum,jdbcType=VARCHAR},
      </if>
      <if test="bicashpledges != null">
        #{bicashpledges,jdbcType=VARCHAR},
      </if>
      <if test="bipaymenttime != null">
        #{bipaymenttime,jdbcType=VARCHAR},
      </if>
      <if test="bicashpledge != null">
        #{bicashpledge,jdbcType=VARCHAR},
      </if>
      <if test="bitate != null">
        #{bitate,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="aduser != null">
        #{aduser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renting.entity.TbDeposit">
    update tb_deposit
    <set>
      <if test="roid != null">
        roid = #{roid,jdbcType=INTEGER},
      </if>
      <if test="biticketnum != null">
        biticketnum = #{biticketnum,jdbcType=VARCHAR},
      </if>
      <if test="bicashpledges != null">
        bicashpledges = #{bicashpledges,jdbcType=VARCHAR},
      </if>
      <if test="bipaymenttime != null">
        bipaymenttime = #{bipaymenttime,jdbcType=VARCHAR},
      </if>
      <if test="bicashpledge != null">
        bicashpledge = #{bicashpledge,jdbcType=VARCHAR},
      </if>
      <if test="bitate != null">
        bitate = #{bitate,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="aduser != null">
        aduser = #{aduser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renting.entity.TbDeposit">
    update tb_deposit
    set roid = #{roid,jdbcType=INTEGER},
      biticketnum = #{biticketnum,jdbcType=VARCHAR},
      bicashpledges = #{bicashpledges,jdbcType=VARCHAR},
      bipaymenttime = #{bipaymenttime,jdbcType=VARCHAR},
      bicashpledge = #{bicashpledge,jdbcType=VARCHAR},
      bitate = #{bitate,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR},
      aduser = #{aduser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>