<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renting.dao.TbWaterElectricityUnitMapper">
  <resultMap id="BaseResultMap" type="com.renting.entity.TbWaterElectricityUnit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roid" jdbcType="INTEGER" property="roid" />
    <result column="waterunit" jdbcType="DOUBLE" property="waterunit" />
    <result column="electricityunit" jdbcType="DOUBLE" property="electricityunit" />
    <result column="updatetime" jdbcType="VARCHAR" property="updatetime" />
    <result column="aduser" jdbcType="VARCHAR" property="aduser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, roid, waterunit, electricityunit, updatetime, aduser
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_water_electricity_unit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_water_electricity_unit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.renting.entity.TbWaterElectricityUnit">
    insert into tb_water_electricity_unit (id, roid, waterunit, 
      electricityunit, updatetime, aduser
      )
    values (#{id,jdbcType=INTEGER}, #{roid,jdbcType=INTEGER}, #{waterunit,jdbcType=DOUBLE}, 
      #{electricityunit,jdbcType=DOUBLE}, #{updatetime,jdbcType=VARCHAR}, #{aduser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.renting.entity.TbWaterElectricityUnit">
    insert into tb_water_electricity_unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roid != null">
        roid,
      </if>
      <if test="waterunit != null">
        waterunit,
      </if>
      <if test="electricityunit != null">
        electricityunit,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="aduser != null">
        aduser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roid != null">
        #{roid,jdbcType=INTEGER},
      </if>
      <if test="waterunit != null">
        #{waterunit,jdbcType=DOUBLE},
      </if>
      <if test="electricityunit != null">
        #{electricityunit,jdbcType=DOUBLE},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="aduser != null">
        #{aduser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renting.entity.TbWaterElectricityUnit">
    update tb_water_electricity_unit
    <set>
      <if test="roid != null">
        roid = #{roid,jdbcType=INTEGER},
      </if>
      <if test="waterunit != null">
        waterunit = #{waterunit,jdbcType=DOUBLE},
      </if>
      <if test="electricityunit != null">
        electricityunit = #{electricityunit,jdbcType=DOUBLE},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="aduser != null">
        aduser = #{aduser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renting.entity.TbWaterElectricityUnit">
    update tb_water_electricity_unit
    set roid = #{roid,jdbcType=INTEGER},
      waterunit = #{waterunit,jdbcType=DOUBLE},
      electricityunit = #{electricityunit,jdbcType=DOUBLE},
      updatetime = #{updatetime,jdbcType=VARCHAR},
      aduser = #{aduser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>