<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renting.dao.WaterElectricityUseMapper">
  <resultMap id="BaseResultMap" type="com.renting.entity.WaterElectricityUse">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roid" jdbcType="INTEGER" property="roid" />
    <result column="tenid" jdbcType="INTEGER" property="tenid" />
    <result column="waternum" jdbcType="DOUBLE" property="waternum" />
    <result column="electricitynum" jdbcType="DOUBLE" property="electricitynum" />
    <result column="rocheckin" jdbcType="VARCHAR" property="rocheckin" />
    <result column="meterreading" jdbcType="VARCHAR" property="meterreading" />
    <result column="updatetime" jdbcType="VARCHAR" property="updatetime" />
    <result column="aduser" jdbcType="VARCHAR" property="aduser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, roid, tenid, waternum, electricitynum, rocheckin, meterreading, updatetime, aduser
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_water_electricity_use
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_water_electricity_use
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.renting.entity.WaterElectricityUse">
    insert into tb_water_electricity_use (id, roid, tenid, 
      waternum, electricitynum, rocheckin, 
      meterreading, updatetime, aduser
      )
    values (#{id,jdbcType=INTEGER}, #{roid,jdbcType=INTEGER}, #{tenid,jdbcType=INTEGER}, 
      #{waternum,jdbcType=DOUBLE}, #{electricitynum,jdbcType=DOUBLE}, #{rocheckin,jdbcType=VARCHAR}, 
      #{meterreading,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, #{aduser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.renting.entity.WaterElectricityUse">
    insert into tb_water_electricity_use
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roid != null">
        roid,
      </if>
      <if test="tenid != null">
        tenid,
      </if>
      <if test="waternum != null">
        waternum,
      </if>
      <if test="electricitynum != null">
        electricitynum,
      </if>
      <if test="rocheckin != null">
        rocheckin,
      </if>
      <if test="meterreading != null">
        meterreading,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="aduser != null">
        aduser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roid != null">
        #{roid,jdbcType=INTEGER},
      </if>
      <if test="tenid != null">
        #{tenid,jdbcType=INTEGER},
      </if>
      <if test="waternum != null">
        #{waternum,jdbcType=DOUBLE},
      </if>
      <if test="electricitynum != null">
        #{electricitynum,jdbcType=DOUBLE},
      </if>
      <if test="rocheckin != null">
        #{rocheckin,jdbcType=VARCHAR},
      </if>
      <if test="meterreading != null">
        #{meterreading,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="aduser != null">
        #{aduser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renting.entity.WaterElectricityUse">
    update tb_water_electricity_use
    <set>
      <if test="roid != null">
        roid = #{roid,jdbcType=INTEGER},
      </if>
      <if test="tenid != null">
        tenid = #{tenid,jdbcType=INTEGER},
      </if>
      <if test="waternum != null">
        waternum = #{waternum,jdbcType=DOUBLE},
      </if>
      <if test="electricitynum != null">
        electricitynum = #{electricitynum,jdbcType=DOUBLE},
      </if>
      <if test="rocheckin != null">
        rocheckin = #{rocheckin,jdbcType=VARCHAR},
      </if>
      <if test="meterreading != null">
        meterreading = #{meterreading,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="aduser != null">
        aduser = #{aduser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renting.entity.WaterElectricityUse">
    update tb_water_electricity_use
    set roid = #{roid,jdbcType=INTEGER},
      tenid = #{tenid,jdbcType=INTEGER},
      waternum = #{waternum,jdbcType=DOUBLE},
      electricitynum = #{electricitynum,jdbcType=DOUBLE},
      rocheckin = #{rocheckin,jdbcType=VARCHAR},
      meterreading = #{meterreading,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR},
      aduser = #{aduser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>